<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<aop:config expose-proxy="true" proxy-target-class="true"/>-->
    <context:property-placeholder location="classpath:properties/jdbc.properties"/>
    <!--开启注解-->
    <context:annotation-config/>

    <!--注册了DefaultAnnotationHandlerMapping，AnnotationMethodHandlerAdapter这两个bean，解决了@Controller注解的使用前提配置-->
    <mvc:annotation-driven/>

    <import resource="classpath:spring/*.xml"/>

    <!-- 这两个类用来启动基于Spring MVC的注解功能，将控制器与方法映射加入到容器中 -->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />-->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>-->
</beans>